*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
:root{
    --primary-color: #FF42A5;
}
/* Through Over Website */
.maxwidth{
    width: 48%;
}
a{
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.logo img{
    width: 50px;
    height: 25px;
}
.logo h1{
    text-align: center;
    font-family: Work Sans;
    font-size: 1.8rem;
    font-weight: 700;
}
.logo h1 span{
    color: var(--primary-color);
}
.btn{
    display: inline-block;
    margin-top: 30px;
    padding: 15px 20px;
    border-radius: 25px;
    background-color: var(--primary-color);
    margin-right: 20px;
}
.btn a{
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    
}
.btn:nth-child(2){
    background-color: #4EC5F7;
}

/* ----------Header Start --------- */

/* ----------Header End--------- */

/* ----------Navication Menu Start--------- */
.navication{
    background-color: white;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 40vw;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.menu{
    display: flex;
    align-items: center;
    column-gap: 40px;
    font-size: 0.9rem;
    font-weight: 500;
}
.menu ul{
    display: flex;
    align-items: center;
    column-gap: 40px;
   
}
.menu ul li{
    list-style-type: none;
}
.menu ul li a{
    color: #3C354F;
    line-height: normal;
}
.menu .top-follow{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 8px 12px;
    color: #3C354F;
}
/* ----------Navication Menu End--------- */

/* ------------Hero Section Start----------- */
.hero{
    height: 80vh;
    display: flex;
    justify-content: space-between;
}
.hero-content{
    background-image: url("images/Group\ 14.png");
    height: 465px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 9vw;
}
.hero-content h3{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.hero-content h2{
    font-size: 4rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}
.hero-content p{
    color: #534C64;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
}
.hero-banner{
    display: flex;
    justify-content: space-evenly;
}
.hero-banner img{
    width: 500px;
    height: 465px;
}
/* ------------Hero Section End----------- */




/* Resposive Mobile Device */
@media screen and (max-width:576px) {
    .maxwidth{
        width: 100%;
    }
    /* Navication */
    .navication{
        flex-direction: column;
        box-shadow: none;
        height: 45vh;
    }
    .menu{
        flex-direction: column;
        row-gap: 30px;
    }
    .menu ul{
        flex-direction: column;
        row-gap: 30px;
    }

    /* ------------Hero Section----------- */
    .hero{
        flex-direction: column-reverse;
        height: 120vh;
        padding: 20px;
    }
    .hero-banner img{
        width: 350px;
        height: 325px;
    }
}



/* Resposive tablet Device */
@media screen and (min-width:577px) and (max-width:1200px) {
    .maxwidth{
        width: 100%;
    }
        .navication{
        flex-direction: column;
        height: 45vh;
    }
    .menu{
        flex-direction: column;
        row-gap: 30px;
    }
    .menu ul{
        flex-direction: column;
        row-gap: 30px;
    }

    /* ------------Hero Section----------- */
    .hero{
        flex-direction: column-reverse;
        height: 120vh;
        padding: 20px;
    }
    .hero-content{
        text-align: center;
    }
    .hero-banner img{
        width: 350px;
        height: 325px;
    }
}