*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
:root{
    --primary-color: #FF42A5;
}
/* Through Over Website */
.main{
    width: 80%;
    margin: 0 auto;
}
.maxwidth{
    width: 48%;
}
a{
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.logo img{
    width: 65px;
    height: 30px;
}
.logo h1{
    text-align: center;
    font-family: Work Sans;
    font-size: 2.5rem;
    font-weight: 700;
}
.logo h1 span{
    color: var(--primary-color);
}
.btn{
    display: inline-block;
    margin-top: 20px;
    padding: 15px 20px;
    border-radius: 25px;
    background-color: var(--primary-color);
    margin-right: 20px;
}
.btn a{
    text-decoration: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    
}
.btn:nth-child(2){
    background-color: #4EC5F7;
}

/* ----------Header Start --------- */

/* ----------Header End--------- */

/* ----------Navication Menu Start--------- */
.navication{
    background-color: white;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 35vw;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.menu{
    display: flex;
    align-items: center;
    column-gap: 40px;
    font-size: 1rem;
    font-weight: 500;
}
.menu ul{
    display: flex;
    align-items: center;
    column-gap: 40px;
   
}
.menu ul li{
    list-style-type: none;
}
.menu ul li a{
    color: #3C354F;
    line-height: normal;
}
.menu .top-follow{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 15px;
    color: #3C354F;
}
.top-follow a i{
    font-size: 1.4rem;
}
/* ----------Navication Menu End--------- */

/* ------------Hero Section Start----------- */
.hero{
    height: 61.5vh;
    display: flex;
    justify-content: space-between;
}
.hero-content{
    background-image: url("images/Group\ 14.png");
    height: 465px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 9vw;
}
.hero-content h3{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.hero-content h2{
    font-size: 4rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}
.hero-content p{
    color: #534C64;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
}
.hero-banner{
    display: flex;
    justify-content: space-evenly;
}
.hero-banner img{
    width: 500px;
    height: 465px;
}
/* ------------Hero Section End----------- */

/* ------------We are gamer Section Start----------- */
.wag{
    display: flex;
    background-color: rgba(255, 66, 165, 0.03);
    padding: 0 8vw;
}
.wag-content{
    text-align: right;
    margin-top: 130px;
}
.wag-content .btn{
    margin-right: 0px;
}
.wag-content h2{
    font-size: 2.5rem;
    font-weight: 600;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}
.wag-content p{
    color: #534C64;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}
.wag-content #purpose{
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 30px;
}
.wag-content #slogan{
    color: #534C64;
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 5px;
}
/* ------------We are gamer Section End----------- */


/* ----------Game Videos Section Start---------------- */
.game-video{
    margin-top: 80px;
}
.game-video h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.game-video h2 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}
.game-video p{
    text-align: center;
    color: #534C64;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}
.video-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 45px;
}
.video-container img{
    width: 310px;
    height: 330px;
    border-radius: 15px;
    transition: 0.5s;
}
.video-container img:hover{
    border: 3px solid #F948B2;
}
.video-container .video-box p{
    text-align: left;
    margin-top: 15px;
}
/* ----------Game Videos Section End---------------- */

/* ---------------Play Game Section Start ----------*/
.play-game{
    display: flex;
    justify-content: flex-end;
    column-gap: 15vw;
    margin-top: 100px;
    align-items: center;
    text-align: right;
}
.playgame-content h2{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.playgame-content h2 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}
.playgame-content p{
    color: #534C64;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    margin-top: 10px;
}

.playgamebanner{
    position: relative;
}
.playgamebanner .pg-bigimg{
    width: 515px;
    height: 535px;
    background-image: url("images/Rectangle\ 55.png");
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    
}
.playgamebanner .pg-smallimg{
    width: 258px;
    height: 290px;
    background-image: url("images/Rectangle\ 66.png");
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: -100px;
    left: -130px;
}
/* ---------------Play Game Section End ----------*/

/* ------------Game Lbels Start ------------*/
.game-labels{
    margin-top: 30vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}
.game-labels .label{
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50px;
    transition: 0.1s;
}
.game-labels .label:hover{
    border: 2px solid #F948B2;
    padding: 5px;
}
.game-labels h4{
    color: #0B0223;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
}
/* ------------Game Lbels End ------------*/

/*>>>>>>>>>>>>>>>> Resposive Mobile Device <<<<<<<<<<<<<<<<<<<<<<*/
@media screen and (max-width:576px) {
    .main{
        max-width: 100%;
    }
    .game-video{
        padding: 0 25px;
    }
    .maxwidth{
        width: 100%;
    }
    /* Navication */
    .navication{
        flex-direction: column;
        box-shadow: none;
        height: 45vh;
    }
    .menu{
        flex-direction: column;
        row-gap: 30px;
    }
    .menu ul{
        flex-direction: column;
        row-gap: 30px;
    }

    /* ------------Hero Section----------- */
    .hero{
        flex-direction: column-reverse;
        height: 120vh;
        padding: 20px;
    }
    .hero-banner img{
        width: 350px;
        height: 325px;
    }
    .hero-content{
        margin-top: 2vh;
    }

    /* ------------We are gamer Section----------- */
    .wag{
        flex-direction: column;
        background-color: white;
    }
    .wag-content{
        text-align: center;
        margin: 0;
    }
    .wag-banner img{
        width: 350px;
    }

    /* ----------Game Videos Section---------------- */
    .video-container{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }
    .video-container .video-box p{
        text-align: center;
    }

    /* Play Game Section */
    .play-game{
        flex-direction: column;
        row-gap: 10vh;
        text-align: center;
    }
    .playgamebanner .pg-bigimg{
        width: 310px;
        height: 360px;
        
    }
    .playgamebanner .pg-smallimg{
        width: 150px;
        height: 200px;
        /* position: absolute; */
        bottom: -70px;
        left: -50px;
    }

    /* Game label */
    .game-labels{
        max-width: 100;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
    }
    .game-labels .label{
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }
    .game-labels h4{
        font-size: 0.875rem;
    }
}



/* Resposive tablet Device */
@media screen and (min-width:577px) and (max-width:1200px) {
    .main{
        max-width: 90%;
        margin: 0 auto;
    }
    .maxwidth{
        width: 100%;
    }
    .navication{
        flex-direction: column;
        height: 50vh;
    }
    .menu{
        flex-direction: column;
        row-gap: 30px;
    }
    .menu ul{
        flex-direction: column;
        row-gap: 30px;
    }

    /* ------------Hero Section----------- */
    .hero{
        flex-direction: column-reverse;
        height: 140vh;
        padding: 20px;
    }
    .hero-content{
        text-align: center;
    }
    .hero-banner img{
        width: 550px;
        height: 425px;
        margin-top: 100px;
    }
    .hero-content{
        margin-top: 2vh;
        padding: 80px 0;
    }

    /* ------------We are gamer Section----------- */
    .wag{
        flex-direction: column;
        align-items: center;
    }
    .wag-content{
        text-align: center;
        margin: 0;
        padding-bottom: 20px;
    }
    .wag-banner img{
        width: 480px;
    }

    /* ----------Game Videos Section---------------- */
    .game-video{
        margin-top: 80px;
    }
    .video-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    /* Play Game Section */
    .play-game{
        flex-direction: column;
        row-gap: 10vh;
        text-align: center;
        margin-top: 80px;
    }
    .playgamebanner .pg-bigimg{
        width: 450px;
        height: 510px;
        
    }
    .playgamebanner .pg-smallimg{
        width: 250px;
        height: 300px;
        /* position: absolute; */
        bottom: -70px;
        left: -120px;
    }
        /* Game label */
        .game-labels{
            margin-top: 200px;
            max-width: 100;
            grid-template-columns: repeat(3,1fr);
            gap: 30px;
        }
        .game-labels .label{
            flex-direction: column;
            text-align: center;
            gap: 5px;
        }
        .game-labels h4{
            font-size: 0.875rem;
        }
}