*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
:root{
    --primary-color: #FF42A5;
}
/* Through Over Website */
a{
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.logo img{
    width: 50px;
    height: 25px;
}
.logo h1{
    text-align: center;
    font-family: Work Sans;
    font-size: 1.8rem;
    font-weight: 700;
}
.logo h1 span{
    color: var(--primary-color);
}

/* ----------Header Start --------- */

/* ----------Header End--------- */

/* ----------Navication Menu Start--------- */
.navication{
    background-color: white;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 40vw;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.menu{
    display: flex;
    align-items: center;
    column-gap: 40px;
    font-size: 0.9rem;
    font-weight: 500;
}
.menu ul{
    display: flex;
    align-items: center;
    column-gap: 40px;
   
}
.menu ul li{
    list-style-type: none;
}
.menu ul li a{
    color: #3C354F;
    line-height: normal;
}
.menu .top-follow{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 8px 12px;
    color: #3C354F;
}

/* ----------Navication Menu End--------- */


/* Resposive Mobile Device */
@media screen and (max-width:576px) {
    /* Navication */
    .navication{
        flex-direction: column;
        box-shadow: none;
        height: 45vh;
    }
    .menu{
        flex-direction: column;
        row-gap: 30px;
    }
    .menu ul{
        flex-direction: column;
        row-gap: 30px;
    }
}



/* Resposive tablet Device */
@media screen and (min-width:577px) and (max-width:1200px) {
        .navication{
        flex-direction: column;
        height: 45vh;
    }
    .menu{
        flex-direction: column;
        row-gap: 30px;
    }
    .menu ul{
        flex-direction: column;
        row-gap: 30px;
    }
}